*{
    /* background-color: black; */
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    line-height: 30px;
}
body{
    background-color:blanchedalmond;
}

div:nth-child(1) {
    display: inline-block;
    border: 2px solid black;
    font-size: 22px;
    background-color: black;
    width: 100%;
    /* margin: auto; */
    height: 35px;
    /* border-radius: 7px; */
}
a{
    color: white;
    margin: 65px;
    text-decoration: none;
}
.btn{
    color: white;
    width: 159px;
    font-size: 22px;
    background-color: darkgoldenrod;
    border-radius: 7px;
    cursor: pointer;
}

a:hover{
    color: yellow;
    text-shadow: 3px 3px green;
}
.btn:hover{
    background-color: blueviolet;
    box-shadow: 4px 4px green;
}
img{
    width: 100vw;
    height: 100vh;
}
h1,p{
    width: 600px;
    position: relative;
    top: -550px;
    text-align: center;
    font-size: 1.7rem;
    line-height: 40px;
}
/* form{
    width: 480px;
    text-align: center;
    background-color:rgb(198, 242, 242);
    position: relative;
    top: -680px;
    left: 900px
}
h1{
    font-size: 2rem;
} */
